@keyframes color-corners {
	0%   {background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	5%   {background: linear-gradient(54deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	10%   {background: linear-gradient(63deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	15%   {background: linear-gradient(73deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	21%   {background: linear-gradient(82deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	26%   {background: linear-gradient(92deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	31%   {background: linear-gradient(101deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	36%   {background: linear-gradient(111deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	42%   {background: linear-gradient(120deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	47%   {background: linear-gradient(130deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	52%   {background: linear-gradient(139deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	57%   {background: linear-gradient(149deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	63%   {background: linear-gradient(158deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	68%   {background: linear-gradient(168deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	73%   {background: linear-gradient(177deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	78%   {background: linear-gradient(187deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	84%   {background: linear-gradient(196deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	89%   {background: linear-gradient(206deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	94%  {background: linear-gradient(215deg, #00ccff, #0e1538, #0e1538, #d400d4);}
	100%  {background: linear-gradient(225deg, #00ccff, #0e1538, #0e1538, #d400d4);}
}