body {
	font-family: 'Roboto', sans-serif;
  background-color: #0e1538;
  color: $color-lightblue;
}
/* Sticky footer */
html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

