@font-face {
  font-family: "Avengeance Heroic Avenger Bold";
	// font-weight: 400;
	// font-style: normal;
  src: url("./../static/fonts/avengeance-heroic-avenger-bold.woff2") format('woff2'),
		url("./../static/fonts/avengeance-heroic-avenger-bold.woff") format('woff'),
		url("./../static/fonts/avengeance-heroic-avenger-bold.ttf") format('truetype');
	font-display: swap;
}