.filters {
	position: relative;
  margin-bottom: 58px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 576px) {
    justify-content: center;
  }
}
.nice-select.filters__movies-select,
.filters__reset-btn,
.nice-select.open .nice-select-dropdown {
  border: 2px solid $color-lightblue;
  color: $color-lightblue;
  background-color: $color-blue;
}
.nice-select.filters__movies-select {
  margin: 0 auto;
  border-radius: 5px;
  min-width: 308px;
  font-size: 18px;

	&.open {
		border-radius: 5px 5px 0 0;
	}

  @media (min-width: 576px) {
    margin: 0;
    margin-left: auto;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    min-width: 337px;
  }
}
.nice-select:after {
  border-bottom: 2px solid $color-lightblue;
  border-right: 2px solid $color-lightblue;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus,
.nice-select:hover {
  border-color: $color-lightblue;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: rgba($color-lightblue, 0.1);
}
.nice-select-search-box .nice-select-search {
	font-size: 18px;
	font-weight: 500;
	color: $color-blue;
}
.nice-select.open .nice-select-dropdown {
  margin-top: 2px;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  left: -2px;
  width: 308px;

  @media (min-width: 576px) {
    width: 431px;
  }
}
.filters__reset-btn {
  cursor: pointer;
  order: -1;
	position: absolute;
	left: 50%;
	bottom: 48px;
	translate: -50%;
	// margin: 0 auto 10px;
  border-radius: 5px;
  padding: 7px 15px 6px;
  font-weight: 500;
  font-size: 18px;
  min-height: 38px;
	transition: all .25s ease;

	&.disabled {
		cursor: default;
		border-color: rgba($color-lightblue, 0.2);
		color: rgba($color-lightblue, 0.2);
	}

  @media (min-width: 576px) {
    order: initial;
    margin-right: 337px;
    border-radius: 0 5px 5px 0;
    border-left: 0;
    padding-right: 18px;

    &.open {
      border-radius: 0 5px 0 0;
    }
  }
}
